# vite requires this: https://github.com/nuxt/vite/issues/91
shamefully-hoist=true
ignore-workspace-root-check=true

# flatten .output/server/node_modules directory
dedupe-direct-deps=true
dedupe-injected-deps=false
