@import url("/assets/tailwind.css");
@import url("/assets/animations.css");

:root {
  font-size: 14px;
  transition:
    color 0.5s,
    background-color 0.5s;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Tahoma", Verdana, monospace;

  --color-dark-blue: #037dba;
  --color-blue: #12a9fc;
  --color-light-blue: #f0f9ff;
  --color-gold: #edbc7a;
  --color-dark-grey: #242424;
  --color-light-grey: #f4f4f4;
  --color-red: #ff3232;
  --color-green: #38c695;
  --color-dark-green: #32b286;
  --color-orange: #ff8800;

  /* default color palette */
  --p-primary-0: #ffffff !important;
  --p-primary-50: var(--p-sky-50) !important;
  --p-primary-100: var(--p-sky-100) !important;
  --p-primary-200: var(--p-sky-200) !important;
  --p-primary-300: var(--p-sky-300) !important;
  --p-primary-400: var(--p-sky-400) !important;
  --p-primary-500: var(--p-sky-500) !important;
  --p-primary-600: var(--p-sky-600) !important;
  --p-primary-700: var(--p-sky-700) !important;
  --p-primary-800: var(--p-sky-800) !important;
  --p-primary-900: var(--p-sky-900) !important;
  --p-primary-950: var(--p-sky-950) !important;

  --p-primary-color: var(--color-dark-blue);
  --p-primary-contrast-color: white;

  /* buttons */
  --p-button-primary-hover-background: color-mix(
    in srgb,
    var(--color-dark-blue),
    white 30%
  );
  --p-button-primary-hover-border-color: var(
    --p-button-primary-hover-background
  );

  --p-button-danger-background: var(--color-red);
  --p-button-danger-color: white;

  /* slider */
  --p-toggleswitch-checked-background: var(--color-gold) !important;
  --p-toggleswitch-checked-hover-background: var(--color-gold) !important;
  --p-toggleswitch-handle-checked-background: var(--color-dark-blue) !important;
}

body {
  overflow: hidden; /* Disable scrolling globally */
}

svg {
  fill: #ffffff;
}

/* default */
.p-component {
  padding: 0.5rem !important;
}

/* cascadeselect */
.p-select-label,
.p-select-dropdown,
.p-select-list,
.p-cascadeselect-label,
.p-cascadeselect-dropdown,
.p-cascadeselect-list {
  padding: 0 !important;
}

.p-select-option-content,
.p-cascadeselect-option-content div {
  column-gap: 7px !important;
}

.p-toggleswitch {
  padding: 0 !important;
}

.p-dialog-footer {
  justify-content: center !important;
  gap: 10px !important;
}

/* hide cesium toolbar */
.cesium-viewer-toolbar {
  display: none !important;
}

.cesium-performanceDisplay-defaultContainer {
  position: absolute;
  top: 5px !important;
  right: 89px !important;
}

.cesium-performanceDisplay-ms,
.cesium-performanceDisplay-fps {
  color: var(--color-blue) !important;
}

.cesium-performanceDisplay-throttled {
  color: var(--color-gold) !important;
}

/* Toast */
.p-toast {
  top: 47px !important;
  right: 5px !important;
}

.p-toast-message-content {
  align-items: center !important;
}
